@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Zilla Slab', serif;
  background-color: #fbeaff;
}

.App {
  text-align: center;
  color: #845ec2;
  font-weight: 600;
  font-size: 1.1rem;
}

button {
  background: #00c9a7;
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
  border: none;
  font-family: 'Zilla Slab', serif;
  font-size: 1rem;
}

button:disabled {
  background: #aaaaaa;
}

.song-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.song-item {
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
}

.song-item > h2 {
  margin: 0;
}

.song-img {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.song-current {
  box-shadow: 0px 0px 8px 2px #00c9a7;
}
